.config/qutebrowser/autoconfig.yml
.config/qutebrowser/bookmarks/urls
.config/hypr/monitors.conf
.config/hypr/workspaces.conf
vesktop/sessionData/
librewolf/
retroarch/
steam-rom-manager/
unity3d/
heroic/
obsidian/
obs-studio/plugin_config/
obs-studio/logs/
obs-studio/profiler_data/
libreoffice/
vesktop/
PopTracker/
HKModInstaller/
Archipelago/
melonDS/
StardewValley/
Zelda64Recompiled/
GIMP/
dconf/
pulse/
mons/installs.yaml
nushell/history.txt
dolphin-emu/
mgba/
desmume/
blastem/
gopher64/
jollygood/
azahar-emu/
snes9x/
dosbox/
obs-studio/
kdenliverc
kritarc
kritadisplayrc
kdeglobals
Kvantum/
QtProject.conf
qutebrowser/catppuccin/
nwg-displays/
pavucontrol.ini
glib-2.0/
gh/hosts.yml
rclone/
com.kesomannen.gale/
SM64APLauncher_config.json
fish/fish_variables
fish/completions/
fish/conf.d/fzf.fish
fish/functions/fisher.fish
fish/functions/_fzf_*
fish/functions/fzf_configure_bindings.fish
nushell/ls-colors.txt
nushell/plugin.msgpackz
